body {
  margin: 0;
  border: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 95vh;

}

.sidebar {
  width: 350px;
  background-color: black;
  color: white;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

.image img {
  width: 130px;
  display: block;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #1db954;
  text-decoration: underline;
}

.policies {
  font-size: 12px;
  margin-top: 30px;
  position: absolute;
  bottom: 20px;
}

.rightside {
  flex-grow: 1;
  background-color: black;
  padding: 0;
  color: white;
  
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0 0;
}

.topbar .buttonss button {
  color: white;
  background-color: #090909;
  width: 34px;
  height: 34px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.topbar .buttonss button:hover {
  background-color: white;
  color: black;
}

.topbar .navbar ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.topbar .navbar ul li a button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 40px;
}

.topbar .navbar ul li a button:hover {
  background-color: white;
  color: black;
}



.playlist {
  padding: 20px 40px;
  background:#181818;
}

.playlist h2 {
  color: #fff;
  font-size: 20px;
}

.playlist .list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  

}


.item {
  background-color: #181818;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  color: white;
  flex: 0 0 auto;
  
  
}

.item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;

}
.playlist .list .item:hover{
    background: #7a7a7a;
}

.item .play {
  position: relative;
}

.item .play button {
  position: absolute;
  display: none;
  bottom: 10px;
  right: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.play:hover  button {
    display: block;
}
.lower {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #ff69b4, #1e90ff);

  display: flex;
  align-items: center;
  justify-content: space-between;  
  color: white;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  
 
}

.lower p {
 
  font-size:13px;
  color: #131212; 
  
  
}



.lower button {
  color: #1db954;
  background-color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 13px;
  cursor: pointer;
  margin-right: 30px; ;
}

.lower button:hover {
  background-color:black;
}

